In [1]:
from utils.finalyca_store import get_finalyca_scoped_session
db_session = get_finalyca_scoped_session(False)

In [2]:
from bizlogic.fund_portfolio_analysis import *

In [3]:
user_id = 1
# sql_factsheets = db_session.query(FactSheet).filter(FactSheet.Is_Deleted != 1).filter(FactSheet.IsPortfolioProcessed != 1).filter(FactSheet.Plan_Id == plan_id).all()

In [4]:
# factsheet_id = 7070226
factsheet_id = 6182004
dry_run = False
force_write = True

In [5]:
portfolio_analysis_df, sector_df, portfolio_movement_df = generate_portfolio_analysis(db_session, factsheet_id, user_id, dry_run, force_write)

Storing data in database

In [6]:
# plan_id = 7
# transaction_date = datetime.datetime(2022, 7, 31)

# if not dry_run:
#     sectors = sector_df.to_dict(orient="records")
#     save_portfolio_sectors(db_session, plan_id, transaction_date, sectors, user_id, force_write)
    
#     portfolio_analysis = portfolio_analysis_df.to_dict(orient="records")
#     save_portfolio_analysis(db_session, plan_id, transaction_date, portfolio_analysis, user_id, force_write)
    
#     portfolio_movement = portfolio_movement_df.to_dict(orient="records")
#     save_portfolio_movement(db_session, plan_id, transaction_date, portfolio_movement, user_id, force_write)

In [7]:
sector_df

,Sector_Code,Sector_Name,Sub_SectorName,Long_Short,Percentage_to_AUM
11,8,Financial,Banks - Private Sector,S,23.520000000
4,12,Technology,Computers - Software - Large,S,19.040000000
10,7,Energy,Refineries,S,9.010000000
6,16,Communication,Telecommunications - Service Provider,S,5.910000000
7,19,Material,Cement - North India,S,4.090000000
9,3,Construction,Engineering - Turnkey Services,S,3.250000000
12,8,Financial,Finance - Housing,S,2.460000000
1,11,Services,Food - Processing - MNC,S,2.300000000
0,1,Automobile,Automobiles - LCVs / HCVs,S,2.110000000
8,2,Chemicals,Chemicals,S,1.910000000
3,11,Services,Miscellaneous,S,1.330000000
2,11,Services,Hotels,S,1.150000000
5,12,Technology,,S,0.650000000